# Adapted for Python 3.12
numpy==2.2.6
matplotlib==3.10.3
matplotlib-inline==0.1.7
# The following is only required for the minimum time optimization
casadi==3.7.0
scipy==1.15.3
scikit-learn==1.6.1
scikit-image==0.25.2
PyYAML==6.0.2
pandas==2.2.3
argparse